/*Mexendo com o dom*/
@font-face {
    font-family: 'roboto';
    src: url(fontes/Roboto-Regular.ttf);
}

* {
    margin: 0;
}

html {
    width: 100%;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    position: relative;
    top: 23px;
    margin-left: 15.5%;
    font-family: 'roboto', 'Arial';
}

#corpo {
    background-color: #000;
}

/*Mexendo com os IDs*/
#nameUser {
    display: flex;
    justify-content: end;
    margin-left: 12%;
    border-radius: 10px 0px 0px 10px;
    background: #000;
    color: #fff;
}


#simuladordeemprestimos {
    width: 170%;
    height: 140%;
    position: relative;
    top: -10px;
    padding: 25px;
    left: -14%;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}



#calculodeemprestimos {
    width: 170%;
    height: 140%;
    position: relative;
    top: -10px;
    padding: 25px;
    left: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}

#simuladordeinvestimentos {
    width: 170%;
    height: 120%;
    position: relative;
    top: 120px;
    padding: 25px;
    left: -70px;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}

#retornodeinvestimento {
    width: 170%;
    height: 120%;
    position: relative;
    top: 120px;
    padding: 25px;
    left: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
}

#investimentos {
    height: 8%;
    width: 40%;
    background-color: transparent;
    color: aliceblue;
    border-color: transparent;
}

#retornoInicial {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 15%;
    margin-left: 10%;
    font-size: 40px;
}

#retornoMensal {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 28%;
    margin-left: 34%;
    font-size: 40px;
}

#retornoTotal {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 40%;
    margin-left: 34%;
    font-size: 40px;
}
#parcelas {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 17%;
    margin-left: 15%;
    font-size: 40px;
}
#jurosemp {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 33%;
    margin-left: 16.5%;
    font-size: 40px;
}
#montante {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    font-size: bold;
    color: aliceblue;
    top: 50%;
    margin-left: 7.7%;
    font-size: 40px;
}

/*mexendo com class*/
.campos {
    background-image: linear-gradient(180deg, rgb(31, 32, 41), rgb(37, 38, 46));
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #000;
}

.estiloInputs {
    display: block;
    height: 10%;
    position: relative;
    margin: -4 auto;
    border-radius: 5%;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.estiloInputs2 {
    display: block;
    height: 10%;
    position: relative;
    margin: -4 auto;
    border-radius: 5%;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.headerClass {
    margin-left: 10% ;
    margin-top: 0%;
}

.estiloBotao01 {
    border-color: #fff;
    border-radius: 10px 10px 10px 10px;
    text-shadow: none;
    color: aliceblue;
    background: rgba(36, 38, 58, 1);
}
.estiloBotao02 {
    border-color: #fff;
    border-radius: 10px 10px 10px 10px;
    text-shadow: none;
    color: aliceblue;
    background: rgba(36, 38, 58, 1);
}

/*Estilo do menu*/
#caminhosMenu {
    position: relative;
    top: -38px;
    right: 10%;
    padding: 11px;
}

#teste {
    height: 100vh;
}

#nameUser>h1 {
    font-size: 1.5rem;
    position: relative;
    right: 10%;
}

#nameUser>h2 {
    font-size: revert;
    position: relative;
    top: 10px;
}

.menu {
    width: 7%;
    float: left;
    background: #000;
    height: 713px;
    border-radius: 4px 10px 10px 4px;
    box-shadow: 1px 1px 1px 1px #000;
}

.menu>ul>li>a {
    color: #fff;
}

#logo {
    position: relative;
    width: 32px;
    height: 26px;
    top: -331px;
    left: 133%;
}

.imgsMenu {
    width: 40px;
    height: 40px;
    left: 50%;
    position: relative;
}

.imgMenuCell {
    width: 30px;
    height: 30px;
    position: relative;
    right: 90vw;
    top: 7px;
    visibility: hidden;
}

.elementoMenu:hover img {
    /*Onde faz a imagem sumir*/
    visibility: hidden;
}

.textoInicio {
    color: #fff;
    position: relative;
    top: 64px;
    left: 50%;
    visibility: hidden;
}

.elementoMenu:hover .textoInicio {
    /*Onde faz o texto aparecer*/
    visibility: visible;
}

.textoDespesas {
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}

.elementoMenu:hover .textoDespesas {
    visibility: visible;
}

.textoExtrato {
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}

.elementoMenu:hover .textoExtrato {
    visibility: visible;
}

.textoSimulacao {
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}

.elementoMenu:hover .textoSimulacao {
    visibility: visible;
}

.textoNoticias {
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}

.elementoMenu:hover .textoNoticias {
    visibility: visible;
}

.textoSobre {
    color: #fff;
    position: relative;
    top: 50px;
    left: 30px;
    visibility: hidden;
}

.elementoMenu:hover #textoSobre {
    visibility: visible;
}

.visibilidadeMenuCell {
    visibility: visible;
    width: 80vw;
    float: left;
    background: rgba(36, 38, 58, 1);
    height: 100vh;
    border-radius: 4px 10px 10px 4px;
    box-shadow: 1px 1px 1px 1px #000;
    z-index: 1;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}

canvas {
    position: relative;
}

.textoMenucelular {
    visibility: visible;
    position: relative;
    left: 22vw;
    top: 7vh;
    color: #fff;
    transition-duration: 0.8s;
    transition-delay: 0.1s;
}

/*Parte da responsividade*/
/*computador*/
@media only screen and (min-width: 860px) and (max-width:1800px) {
    .menu {
        height: 100vh;
    }

    #logo {
        position: relative;
        width: 32px;
        height: 26px;
        top: 10px;
        left: 53%;
    }

}

/*tablet*/
@media only screen and (min-width:481px) and (max-width:850px) {
    .menu {
        height: 100vh;
        visibility: hidden;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
    }

    #teste {
        position: fixed;
        height: 100%;
        width: 35vw;
    }

    main {
        position: relative;
        right: 15em;
        top: 10vh;
    }

    #caminhosMenu {
        right: 0vw;
        top: -17vh;
    }

    #logo {
        width: 50px;
        height: 50px;
        top: -69vw;
        left: 57%;
        visibility: visible;
    }

    #caminhosMenus>a {
        visibility: hidden;
    }

    .imgMenuCell {
        visibility: visible;
        z-index: 1;
        width: 50px;
        height: 50px;
        position: relative;
        right: 93vw;
        top: 7px;
    }

    .menuCell {
        width: 30vw;
    }

    #simuladordeemprestimos {
        width: 90vw;
        position: relative;
        left: 5vw;
        top: -5em;
    }

    #calculodeemprestimos {
        width: 90vw;
        position: relative;
        left: -16vw;
        top: 12em;
    }

    #simuladordeinvestimentos {
        width: 90vw;
        position: relative;
        left: 5vw;
        top: 14em;
    }

    #retornodeinvestimento {
        width: 90vw;
        height: 65vw;
        position: relative;
        left: -16vw;
        top: 49em;
    }

    .textoMenucelular {
        left: 13vw;
        top: 5vh;
    }
}

/*celular*/
@media only screen and (min-width: 360px) and (max-width:700px) {
    .menu {
        height: 100vh;
        visibility: hidden;
        transition-duration: 0.1s;
        transition-delay: 0.1s;
    }

    main {
        left: -2vh;
    }

    #teste {
        position: fixed;
    }

    #caminhosMenu {
        right: -6vw;
        top: -6vh;
    }

    #caminhosMenus>a {
        visibility: hidden;
    }

    .imgMenuCell {
        visibility: visible;
        z-index: 1;
    }

    #simuladordeemprestimos {
        width: 89vw;
        position: relative;
        left: -55vw;
    }

    #calculodeemprestimos {
        width: 89vw;
        position: relative;
        left: -65vw;
        top: 16em
    }

    #simuladordeinvestimentos {
        width: 89vw;
        position: relative;
        left: -55vw;
        top: 18em;
    }

    #retornodeinvestimento {
        width: 89vw;
        position: relative;
        left: -65vw;
        top: 46em;
    }

    #logo {
        width: 34px;
        height: 38px;
        top: -49%;
        left: 78%;

    }
}